<%= render 'shared/header' %>

<div class="container">
  <%= form_for @image, :html => {class: 'section'} do |f| %>
      <p>
        <%= f.label 'Upload a file', class: 'label' %>
        <%= f.attachment_field :src, presigned: true %>
      </p>
      <%= f.submit 'Upload', class: 'button' %>
  <% end %>
</div>
